/*Color #hexcodes for this website:
- #243642
- #F4F6FF
- #FFFFFF
*/
/*Font link for Abril Fatface when I want to link it to a class:
-- .abril-fatface-regular {
font-family: "Abril Fatface", serif;
font-weight: 400;
font-style: normal;
}
Font link for Quicksand Semi-bold:
  -- // <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
}
Font link for Quicksand Regular:
  -- // <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
-- */
* {
  box-sizing: border-box;
  background-color: #f4f6ff;
}
.container {
  padding: 0 15px;
}
/*Header Section*/
header {
  background-color:#f4f6ff;
  padding: 10px 0 4px;
}
.logo {
  max-width: 150px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Abril Fatface", serif; 
}
nav > ul > li > a {
  font-family: "Abril Fatface", serif;
  padding: 0 15px;
  font-weight: 400;
  color: #243642;
  font-size: 24px;
  text-decoration: none;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  font-weight: 600;
  color: #F26B0F;
  text-decoration: none;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  color:#243642;
  padding-right: 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
/*Hero Section*/
#hero-section-index {
  text-align: center;
}
#hero-section-index h1 {
  text-align: center;
}
#hero-section-index p {
  text-align: center;
}
#hero-section-index {
  background-color: #f4f6ff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.illustration-placeholder {
  width: 35%;
  text-align: center;
}
/*Main Section*/
.row {
  margin: 25px 0;
}
main {
  padding-top: 56px;
}
.deliverable-links {
  font-size: 20px;
  line-height: 150%;
}
.retro-answer {
  font-size: 20px;
  line-height: 150%;
}
#my-work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #f4f6ff;
}
body {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  margin: 0;
  color: #243642;
}
h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #243642;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  color: #243642;
}
h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #243642;
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #243642;
}
p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #243642;
}
a {
  color: #3D3BF3;
  text-decoration: none;
  font-weight: 600;
}
a:active {
  color: #f4f6ff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #F26B0F;
  text-decoration: none;
}
a:visited {
  color: #3A4471;
  text-decoration: none;
}
.testLink {
  background-color: #243642;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}
.testLink:visited {
  color:#FFFFFF;
}
.testLink:hover {
  background-color: #45667B;
  color: white;
  text-decoration: none;
}
button {
  background-color: #243642;
  padding: 10px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #FFFFFF;
  font-size: 16px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}
button > .view_caseStudy {
  background-color: #243642;
  color: #ffffff;
  text-decoration: none;
}
button:hover {
  background-color: #45667B;
  opacity: 0.8;
}
button:hover > .view_caseStudy {
  background-color: #45667B;
  text-decoration: none;
  color: #ffffff;
}
#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px)}
  to {transform: translate(100px,48px)}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
img {
  width: 100%;
}
.category-item {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
}
.sub-item {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
}
/*Footer Section*/
.social-icons {
  text-align: center;
}
.social-icons > ul {
  list-style-type: none;
  padding: 0;
}
.social-icons > ul > li {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-icons > ul > li > a {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin: 0 5px;
}
.social-icons > ul > li > a > i {
  color:#243642;
  width: 50px;
  font-size: 30px;
}
/*media queries*/
@media only screen and (min-width: 640px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
nav > ul {
  margin: 1em 0;
}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.col-md-6 {
  width: 50%;
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
}
@media only screen and (min-width:1024px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

[class*="col-"] {
  float: left;
  padding: 10px
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-7 {
  width: 58.33%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}